packaging_format = 2
id = "nuxt-dynqr"
name = "Nuxt DynQR"
description.en = "A Nuxt.js app that generates and manages dynamic QR codes for YunoHost"
description.fr = "Une app Nuxt.js qui génère et gère des QR codes dynamiques pour YunoHost"

version = "0.3~ynh1"

maintainers = ["ebanDev"]


[upstream]
license = "AGPL-3.0"
code = "https://github.com/Solidaires-Etudiant-e-s/nuxt-dynqr"

[integration]
yunohost = ">= 11.1"
helpers_version = "2.1"
architectures = "all"
multi_instance = false
ldap = true
sso = true
disk = "100M"
ram.build = "1G"
ram.runtime = "512M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/dynqr"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.emulate_dynamicqrcode]
    ask.en = "Do you want to enable Dynamic QR Code emulation mode? This allows migrating from former Dynamic Qr code yunohost app by emulating its redirect links. Note that currently only redirections are emulated, you will have to migrate the database yourself."
    ask.fr = "Voulez-vous activer le mode d'émulation de code QR dynamique ? Cela permet de migrer depuis l'ancienne application yunohost Dynamic Qr code en émulant ses liens de redirection. Notez que pour l'instant seules les redirections sont émulées, vous devrez migrer la base de données vous-même."
    type = "boolean"
    default = false

[resources]
    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/Solidaires-Etudiant-e-s/nuxt-dynqr/archive/refs/tags/v0.3.tar.gz"
    sha256 = "280b752bcfb1ac9641c16394474f65f0edcbdbaa0a5681e6c11ccb4ae671f2d4"
    autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"
    main.allowed = "all_users"

    admin.url = 're:^/admin($|/)'
    admin.show_tile = false
    admin.allowed = "admins"

    public_redirects.url = 're:^/l/($|/)'
    public_redirects.additional_urls = [ '/read.php' ]
    public_redirects.show_tile = false
    public_redirects.allowed = "visitors"

    [resources.apt]
    packages = "mariadb-server"

    [resources.database]
    type = "mysql"

    [resources.nodejs]
    version = "22"

    [resources.data_dir]
